/* colours:

black = #340a0b;
red = #7d1a0c
*/

body {
    background-color: #33273B;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 13pt;
    line-height: 1.4;
    color: #F2F2CB;
    padding-left: 10%
}

.app {
    margin: 2em;
    width: 950px;
    background-color: #1A1319;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1em;
}

.top, .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard {
    width: 440px;
    border-top: thin double #0B78B3;
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 3em;
    font-style: italic;
    font-weight: normal;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    font-weight: normal;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    padding-left: 3em;
    margin-bottom: 0.5em;
}

p {
    padding-left: 5em;
    width: 35em;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.footnote {
    font-style: italic;
    font-size: 0.8em;
}