body {
    background-color: #000055;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 13pt;
    line-height: 1.4;
    color: #CCFFEE;
    padding-left: 10%
}

#app {
    margin: 2rem;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 1rem;
    padding-left: 3rem;
    word-spacing: 1rem;
    margin-bottom: 2rem;
}

p {
    padding-left: 5rem;
    width: 35rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}
